body{
    background-color: black;
    color: white;
}


.container{
    background-color: darkslategrey;
    border: 1px solid black;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 50px 30px ;
}




.ratings{
    margin: 20px;
}


.circle{
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0; /* Circle background color */

}


