.wrapper{
    width:100%;
}


.flex-container{
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    min-width: 200px;
    
    

}

.one{
    background-color: red;
    flex-basis: 100px;
  
}

.two{

    background-color: blue;
    flex-basis: 500px;
    
}

.three{
    background-color: green;
    flex-basis: 300px;
  
}