ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

li{
    display: inline;
}


li a {
    padding: 10px;
    color: white;
}

li a:hover{
    background-color: blue;
}

li a:active{
    background-color: blueviolet;
}